.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: var(--c-blond);
  cursor: pointer;
}

.button:hover {
  opacity: .8;
}

.button:disabled {
  background-color: var(--c-black);
  color: var(--c-white);

}

.red {
  background-color: var(--c-red);
}

.white {
  color: var(--c-white);
}